# 最基本的配置，所有配置都应该延伸自这个配置。
num_units=512
embed_dim=512
num_layers=2
unit_type=lstm
share_vocab=False
src_max_len=20
tgt_max_len=20
batch_size=256
encoder_type=bi
infer_batch_size=10
attention=luong
src=message
tgt=response
num_train_steps=1000000
steps_per_stats=100
metrics=rouge,bleu-1,bleu-2,bleu-3,bleu-4,distinct-1,distinct-2