# 最基本的配置，所有配置都应该延伸自这个配置。
num_units=1024
embed_dim=620
share_vocab=False
src_max_len=20
tgt_max_len=20
batch_size=80
encoder_type=bi
attention=luong
src=message
tgt=response
num_train_steps=1000000
steps_per_stats=100
#metrics=ROUGE,BLEU-1,BLEU-2,BLEU-3,BLEU-4,DISTINCT-1,DISTINCT-2,ROUGE@char,BLEU-1@char,BLEU-2@char,BLEU-3@char,BLEU-4@char,DISTINCT-1@char,DISTINCT-2@char