# 最基本的配置，所有配置都应该延伸自这个配置。
src_max_len=20
tgt_max_len=45
src_embed_type=cnn_segment
charcnn_high_way_layer=4
charcnn_high_way_type=uniform
charcnn_max_window_size=6
charcnn_min_window_size=1
charcnn_filters_per_windows=100
high_way_layer=4
charcnn_relu=relu
min_steps=0
seg_embed_dim=160
seg_len=8
seg_embed_mode=separate
metrics=rouge@hybrid,bleu-1@hybrid,bleu-2@hybrid,bleu-3@hybrid,bleu-4@hybrid,distinct-1@hybrid,distinct-2@hybrid
flexible_charcnn_windows=1/30-2/60-3/100-4/100-5/100-6/100