# 最基本的配置，所有配置都应该延伸自这个配置。
src_max_len=35
tgt_max_len=35
src_embed_type=cnn_segment
charcnn_high_way_layer=4
charcnn_high_way_type=uniform
charcnn_max_window_size=8
charcnn_min_window_size=1
charcnn_relu=relu
seg_embed_dim=512
seg_len=10
seg_embed_mode=separate
metrics=rouge@hybrid,bleu-1@hybrid,bleu-2@hybrid,bleu-3@hybrid,bleu-4@hybrid,distinct-1@hybrid,distinct-2@hybrid